@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/*Container Responsivo da NAVBAR*/
@layer components {
  .container-responsive {
    @apply container mx-auto px-4 py-3 flex items-center justify-around;
    @apply md:px-[0px];
    @apply lg:px-[30px];
    @apply xl:px-[0px];
    @apply 2xl:px-[160px];
    @apply 3xl:px-[230px];
    @apply 4xl:px-[90px];
  }
}

html {
  scroll-behavior: smooth;
  scroll-timeline: --page-scroll block;

}

body {
  color: var(--foreground);
  background: var(--background);
  animation: smooth-scroll linear;
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
